@charset "utf-8";

@media (min-width: 1024px) {
body, html{
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif,"微軟正黑體";
	text-align: left;
	color: #333;
	min-width:320px;
}
table.tb-shopping-content th{
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	vertical-align: top;
	text-align: left;
	padding: 0px;
	width: 15px;
	height: auto;
	min-height:0px;
}


table.tb-shopping-content td{
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	vertical-align: top;
	text-align: left;
	padding: 0px;
	height: auto;
	min-height:0px;
}
table.tb-shopping-content {
	width: 100%;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	vertical-align: top;
}

.ui-recipients-tb2{ 	display: block;
	margin: auto;}
	
	.box-width-tb{
	padding-top: 10px;
	padding-bottom: 10px;
}
.tb-right-pos{
	text-align: right;
	padding-right: 40px;
	padding-top: 15px;
	padding-bottom: 10px;
}

.box-center{
	margin: auto;
	width:100%;
	display:block;
	overflow:hidden;
}

td.tb-invoice-content{
	padding: 5px;
}

.ui-solid-box-3{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #D2D2D2;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 0px;
	font-family: "微軟正黑體",Arial, Helvetica, sans-serif;
	font-size: 15px;
	overflow: hidden;
	margin-bottom: 30px;
	background-color: #EFEFEF;
}
.ui-solid-box-2{
	min-height: 28px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #D2D2D2;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 50px;
	font-family: "微軟正黑體",Arial, Helvetica, sans-serif;
	font-size: 17px;
	overflow: hidden;
	margin-bottom: 30px;
	background-color: #EFEFEF;
	text-align: right;
}

th.tb-invoice{
	text-align: left;
	width: 200px;
	vertical-align: top;
	padding: 5px;
}
.tb-card-title{
	padding: 3px;
	text-align: right;
	width:130px;
	
}

.tb-card-content{
	text-align: left;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 8px;
}


      
	  
	  

.line-content td.ui-r1{
	width: 15px;
	margin: 0px;
	padding: 0px;
	vertical-align: top;
}

.ui-center{
	margin: auto;
	overflow:hidden;
	
	width:auto;}
.ui-change{ display:inline; font-size:13px;}

.ui-table-admin-pay td.ui-pic-product{
	text-align: center;
}


.ui-recipients-tb2 td{
	padding: 5px;
}

.ui-recipients-tb2 th{
	padding: 5px;
}
.ui-recipients-tb { float:left;}
.ui-recipients-tb td{
	padding: 5px;
}

.ui-recipients-tb th{
	padding: 5px;
}
.tb-title-2{
	text-align: right;
	font-size: 17px;
	width:90px;
	font-weight: normal;	
}


.tb-content-2{font-size: 17px;
	width:225px;
	
}




.ui-ra-right{
	float: right;
	padding-right: 10px;	display:block;
}
ol.ul-number{

}
.ul-number{ list-style-type:lower-alpha;
	padding-left:50px;
}


.ui-table-admin-pay{ width:100%; 	
	border-radius: 5px;}

.ui-table-admin-pay th,
.ui-table-admin-pay td{
	text-align: left;
	
	border: 1px solid #D2D2D2;
	min-height:40px;
	padding-top: 5px;
	padding-right: 8px;
	padding-bottom: 5px;
	padding-left: 8px;
	
	font-family: "微軟正黑體",Arial, Helvetica, sans-serif;
	font-size: 17px;
	vertical-align: middle;
}
.ui-table-admin-pay th{
	background-color: #FFF;
	font-weight: normal;
}
.ui-table-admin-pay td{

	background-color: #FFF;
}




.ui-box-3{
	font-family: "微軟正黑體",Arial, Helvetica, sans-serif;
	font-size: 17px;
	overflow: hidden;
	margin-bottom: 30px;
	padding-top: 25px;
}
.ui-box-2{	


	font-family: "微軟正黑體",Arial, Helvetica, sans-serif;
	font-size: 17px;

	overflow: hidden;
	margin-bottom: 28px;}
A.ui-continue {
		background-color: #E11A41;
	width: 200px;
	text-align: center;
	padding-top: 9px;
	padding-bottom: 9px;
	font-weight: bold;
	color: #FFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none;
	display: block;
	height: 18px;
	line-height: 17px;
}

A.ui-continue:hover{
	background-color: #E8375A;
	width: 200px;
	display: block;
	text-align: center;
	padding-top: 9px;
	padding-bottom: 9px;
	font-weight: bold;
	color: #FFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none;
	height: 18px;
	line-height: 17px;
	
	}

.ui-add-explan{
	font-size: 15px;
	padding-left: 32px;display:inline;
}

.ui-em-add-explan{
	font-size: 15px;
	color: #f20842;
	padding-left: 15px;display:inline;
}


.ui-em-word .tb-price-title, .ui-em-word  .tb-price-content{
	font-weight: bold;
}

A.icon-delete{
	background-color: #E11A41;
	width: 80px;
	text-align: center;
	padding-top: 9px;
	padding-bottom: 9px;
	font-weight: bold;
	color: #FFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none;
	display: block;
	height: 18px;
	line-height: 17px;
	font-size: 17px;
}

A.icon-delete:hover{	font-size: 17px;
	background-color: #E8375A;
	width: 80px;
	display: block;
	text-align: center;
	padding-top: 9px;
	padding-bottom: 9px;
	font-weight: bold;
	color: #FFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none;
	height: 18px;
	line-height: 17px;
}



.ui-em-word{
	color: #F20842;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D2D2D2;
	padding-bottom: 10px;
	margin-bottom: 10px;
	font-weight: bold;
}
table.tb-shopping-list td{
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	vertical-align: middle;
}
table.tb-shopping-list{
	width:100%;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.tb-shopping-list{}
.ui-table-admin td.tb-2-left, .ui-table-admin td.tb-2-right{
	width: 50%;
	text-align: center;
	vertical-align: bottom;
}
	
	
	
.tb-radio{
	width: 40px;
}
.tb-payment{
	margin-left:0px;
		margin-right: 50px;
	float:left;
}

.icon-credit-card{
	background-image: url(../../images/shopping/1024/credit_card_pay.jpg);
	background-repeat: no-repeat;
	height: 43px;
	width: 165px;
	
}
.icon-telecom-pay{
	background-image: url(../../images/shopping/1024/telecom_pay.jpg);
	height: 43px;
	width: 164px;
	background-repeat: no-repeat;
	
}

.ui-products-explan ul li{
	background-image: url(../../images/shopping/1024/ul_product.gif);
	background-repeat: no-repeat;
	padding-left: 17px;
	display: block;
	margin-bottom: 5px;
	background-position: 0px 4px;
}
.ui-products-explan{
	margin: auto;
	width: 660px;
	font-size: 15px;
	padding-top: 10px;
	padding-bottom: 30px;
}
.ui-credit-card{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: auto;
	overflow: hidden;
	background-color: #FFF;
	font-size: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-right: 45px;
	margin-top: 5px;
}

.ui-clause{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: auto;
	overflow: hidden;
	background-color: #FFF;
	width: auto;
	font-size: 15px;
	margin-top: 10px;
	padding: 15px;
	margin-right: 40px;
	margin-left: 40px;
}

.tb-add-s th{
	width: 30%;
	vertical-align: top;
}

.tb-add-s td{ width:70%; 	vertical-align: top;}
.recipient-data .tb-add-s th, .recipient-data .tb-add-s td{
	font-size: 17px;
	font-weight: normal;
	text-align: left;
}

.recipient-data th, .recipient-data td{
	font-size: 17px;
	font-weight: normal;
	text-align: left;
}


.recipient-data{
	width: 450px;
	margin: auto;
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 25px;
	padding-left: 15px;
	font-size: 17px;
	text-align: center;
}
.ui-explan{font-size:15px;}

.ui-botton-left{
	float: left;
}

.ui-botton-right{
	float: right;
}

.line-content{
	width: 100%;
	text-align: left;
}

.tb-price-title{
	width:70%;
	text-align: left;
}

.tb-price-content{text-align: left; 	width:30%;}

.tb-title{
	width: 15%;
	text-align: left;
	vertical-align: top;
}


.tb-content{text-align: left;
	width: 85%;
		vertical-align: top;
	
}
.tb-spacing{width:0%;}


table.line-content td, table.line-content th{
	font-size: 17px;
	font-weight: normal;
}
table.line-content {
	font-size: 17px;
}


.ui-table-admin{ width:100%; 	border: 1px solid #D2D2D2; 	}
.ui-table-admin .ui-products{
	text-align: left;
}
.ui-table-admin th,
.ui-table-admin td{
	text-align: left;
	border: 1px solid #D2D2D2;
	font-family: "微軟正黑體",Arial, Helvetica, sans-serif;
	min-height: 40px;
	font-size: 17px;
	vertical-align: top;
	padding-top: 5px;
	padding-right: 8px;
	padding-bottom: 5px;
	padding-left: 8px;
}
.ui-table-admin th{
	background-color: #FFF;
	font-weight: normal;
}
.ui-table-admin td{
	
	background-color: #FFF;
}


.input-from5{
	height: 32px;
	width: 500px;
	border: 1px solid #D2D2D2;
	border-radius: 5px;
	font-size: 15px;
	padding-right: 5px;
	padding-left: 5px;
}

.input-from1{
	height: 32px;
	width: 50px;
	border: 1px solid #D2D2D2;
	border-radius: 5px;
	font-size: 15px;
	padding-right: 5px;
	padding-left: 5px;
}
.input-from3{	height: 32px;
	width: 600px;
	border: 1px solid #D2D2D2;
	border-radius: 5px;
	font-size: 15px;
	padding-right: 5px;
	padding-left: 5px;}
.input-from2{
	height: 32px;
	width: 560px;
	border: 1px solid #D2D2D2;
	border-radius: 5px;
	font-size: 15px;
	padding-right: 5px;
	padding-left: 5px;
}

.input-from4{
	height: 32px;
	width: 230px;
	border: 1px solid #D2D2D2;
	border-radius: 5px;
	font-size: 15px;
	padding-right: 5px;
	padding-left: 5px;
}
.ui-botton-box-banner{
	margin: auto;
	width: 440px;
	overflow: hidden;
	padding-top: 60px;
}

.ui-botton-box-banner-only{
	margin: auto;
	width: 200px;
	overflow:hidden;
}


.ui-banner-explan{
	text-align: center;
	padding-top: 23px;
}


.ui-botton-box{
	padding-bottom: 120px;
	font-family: "微軟正黑體",Arial, Helvetica, sans-serif;
	font-size: 17px;
	overflow: hidden;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #D2D2D2;
	padding-top: 0px;
}


.ui-confirm{
	background-color: #009EFF;
	width: 200px;
	text-align: center;
	padding-top: 9px;
	padding-bottom: 9px;
	font-weight: bold;
	color: #FFF;
	border-radius: 5px;
	text-decoration: none;
	height: 18px;
	line-height: 17px;
} 

.ui-confirm:hover{
	background-color: #37B5FF;
	
	width: 200px;
		text-decoration: none;
	text-align: center;
	padding-top: 9px;
	padding-bottom: 9px;
	font-weight: bold;
	color: #FFF;
		height: 18px;
	border-radius: 5px;
} 


.ui-cancel{
	background-color: #BCBCBC;
	width: 200px;
	border-radius: 5px;
	text-align: center;
	height: 18px;
	padding-top: 9px;
	font-weight: bold;
	color: #FFF;
	padding-bottom: 9px;
	line-height: 17px;
}

.ui-cancel:hover{
	background-color: #ADADAD;

		height: 18px;
	width: 200px;
	border-radius: 5px;
	text-align: center;
	padding-top: 9px;
	font-weight: bold;
	color: #FFF;
	padding-bottom: 9px;
}


.ui-line-box{
	min-height:28px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #D2D2D2;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 50px;
	font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
	font-size: 17px;
	overflow: hidden;
	margin-bottom: 30px;
	line-height: 26px;
	padding-right: 50px;
}


.ui-solid-box{
		min-height:28px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #D2D2D2;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 50px;
	font-family: "微軟正黑體",Arial, Helvetica, sans-serif;
	font-size: 17px;
	overflow: hidden;
	margin-bottom: 30px;
	background-color: #EFEFEF;
}





.em-line-box{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #F20843;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 50px;
	min-height:28px;
	font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
	font-size: 17px;
	overflow: hidden;
	margin-bottom: 0px;
	background-color: #F20843;
	font-weight: bold;
	color: #FFF;
	padding-right: 50px;
}

a.ui-content-link{
	text-decoration: underline;
	color: #696969;
		font-size: 15px;

}

a.ui-content-link:hover{
	font-size: 15px;
	
	color: #696969;
	text-decoration: none;
}


a.shopping_detail{
	display: block;
	float: right;
	text-decoration: underline;
	color: #696969;
	padding-right: 48px;
	font-size:15px;
}

a.shopping_detail:hover{
	display: block;
	float: right;
	color: #696969;
	text-decoration: none;
	font-size:15px;
}

.ui-em-content{
	font-size: 15px;
	font-weight: normal;
	font-style: normal;
	line-height: 22px;
}

.ui-box{
	
		min-height:30px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 50px;
	font-family: "微軟正黑體",Arial, Helvetica, sans-serif;
	font-size: 17px;
	overflow: hidden;
	margin-bottom: 0px;
}
.ui-box-table-2{	
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 0px;
	font-family: "微軟正黑體",Arial, Helvetica, sans-serif;
	font-size: 17px;
	overflow: hidden;
}
.ui-box-table{
	font-family: "微軟正黑體",Arial, Helvetica, sans-serif;
	font-size: 17px;
	overflow: hidden;
	margin-bottom: 28px;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
}

span.ui-left-content{
	float: left;
	display:block;
}


em.ui-number{
	font-size: 21px;
	color: #F20942;
	font-style: normal;
	font-weight: bold;
}

h2{
	font-family: "微軟正黑體",Arial, Helvetica, sans-serif;
	font-size: 21px;
	color: #595758;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D2D2D2;
	padding-bottom: 20px;
	display: block;
	padding-top: 50px;
}

h3{
	font-family: "微軟正黑體",Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #595758;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D2D2D2;
	padding-bottom: 20px;
	display: block;
	padding-top: 20px;
}


.inner{
	font-size: 17px;
	padding-top: 30px;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-left: 20px;
	font-family: Arial, Helvetica, sans-serif, "微軟正黑體";
}

h1.logo{
	background-image: url(../../images/shopping/1024/logo.gif);
	background-repeat: no-repeat;
	height: 74px;
	position: static;
	width: 179px;
	text-indent: -9999px;
	white-space: nowrap;
	line-height: 0;
	padding-top: 28px;
	padding-left: 40px;
	display: block;
	float: left;
	background-position: right bottom;
	margin-bottom: 7px;
	margin-left: 0px;
}
.page{
	margin: auto;
	height: auto;
	width: auto;
}
.container_header{	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #E5E5E5;
	overflow:hidden;}
	

.header{
	overflow: hidden;
	width: 980px;
	height:108px;
	position:relative;
	margin: auto;

}
.main{
	overflow: hidden;
	width: 900px;
	margin: auto;
	background-color: #F9F9F9;
	height: auto;
	padding-top: 0px;
	padding-right: 40px;
	padding-bottom: 0px;
	padding-left: 40px;
}

.container_main{
	background-color: #EFEFEF;
}


.container_footer{
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CECECE;
}

.footer{
	overflow: hidden;
	width: 980px;
	margin: auto;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #737373;
}


}