@charset "utf-8";
@media (min-width: 0px)  {
body, html{
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif,"微軟正黑體";
	text-align: left;
	color: #333;
	min-width:320px;
}
table.tb-shopping-content th{
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	vertical-align: top;
	text-align: left;
	padding: 2px;
	width: 15px;
	height: auto;
	min-height:0px;
}


table.tb-shopping-content td{
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	vertical-align: top;
	text-align: left;
	padding: 2px;
	height: auto;
}
table.tb-shopping-content {
	width: 100%;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	vertical-align: top;
}
.tb-card-title{
	padding: 3px;
	text-align: right;
	width:90px;
	
}

.tb-card-content{
	text-align: left;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 8px;
}

.tb-right-pos{
	text-align: right;
	padding-right: 40px;
	padding-top: 15px;
	padding-bottom: 10px;
}
.ui-solid-box-3{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #D2D2D2;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 0px;
	font-family: "微軟正黑體",Arial, Helvetica, sans-serif;
	font-size: 15px;
	overflow: hidden;
	margin-bottom: 30px;
	background-color: #EFEFEF;
}

td.tb-invoice-content{
	padding: 5px;
}
.ui-solid-box-2{
	min-height: 28px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #D2D2D2;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 50px;
	font-family: "微軟正黑體",Arial, Helvetica, sans-serif;
	font-size: 17px;
	overflow: hidden;
	margin-bottom: 30px;
	background-color: #EFEFEF;
	text-align: right;
}

th.tb-invoice{
	text-align: left;
	width: 200px;
	vertical-align: top;
	padding: 5px;
}

.input-from5{
	height: 32px;
	width: 130px;
	border: 1px solid #D2D2D2;
	border-radius: 5px;
	font-size: 15px;
	padding-right: 5px;
	padding-left: 5px;
}

.ui-box-3{
	font-family: "微軟正黑體",Arial, Helvetica, sans-serif;
	font-size: 15px;
	overflow: hidden;
	margin-bottom: 30px;
	padding-top: 25px;
}


.input-from1{
	height: 32px;
	width: 25px;
	border: 1px solid #D2D2D2;
	border-radius: 5px;
	font-size: 13px;
	padding-right: 5px;
	padding-left: 5px;
}


.line-content td.ui-r1{
	width: 15px;
	margin: 0px;
	padding: 0px;
	vertical-align: top;
}
.ui-clause{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: auto;
	height: auto;
	overflow: hidden;
	background-color: #FFF;
	font-size: 15px;
	margin: 5px;
	padding: 15px;
}


.ui-center{
	margin: auto;
	width:260px;
}
.ui-recipients-tb2 td{
	padding: 5px;
}

.ui-recipients-tb2 th{
	padding: 5px;
}
.ui-recipients-tb { float:left;}
.ui-recipients-tb td{
	padding: 5px;
}

.ui-recipients-tb th{
	padding: 5px;
}

.input-from3{	height: 32px;
	width: 130px;
	border: 1px solid #D2D2D2;
	border-radius: 5px;
	font-size: 15px;
	padding-right: 5px;
	padding-left: 5px;}
.ui-recipients-tb td{
	padding: 5px;
}

.input-from4{
	height: 32px;
	width: 130px;
	border: 1px solid #D2D2D2;
	border-radius: 5px;
	font-size: 15px;
	padding-right: 5px;
	padding-left: 5px;
}

.ui-recipients-tb th{
	padding: 5px;
}
.tb-title-2{
	text-align: right;
	font-size: 13px;
	width:90px;
	font-weight: normal;	
}


.tb-content-2{font-size: 15px;
	width:auto;
	
}



.tb-payment{
		margin-left: 7px;
	float: left;
	margin-bottom: 5px;
}
.ui-ra-right{
	float: right;
	padding-right: 10px;
	display:block;
}

.icon-credit-card{
	background-image: url(../../images/shopping/320/credit_card_pay.jpg);
	background-repeat: no-repeat;
	height: 37px;
	width: 151px;

}
.icon-telecom-pay{
	background-image: url(../../images/shopping/320/telecom_pay.jpg);
	height: 37px;
	width: 151px;
	background-repeat: no-repeat;

}

.ui-products-explan ul li{
	background-image: url(../../images/shopping/320/ul_product.gif);
	background-repeat: no-repeat;
	padding-left: 17px;
	display: block;
	margin-bottom: 5px;
	background-position: 0px 4px;
}
.ui-products-explan{
	margin: auto;
	width: auto;
	font-size: 13px;
	padding-top: 10px;
	padding-bottom: 30px;
}

A.icon-delete{
	background-color: #E11A41;
	width: 50px;
	text-align: center;
	padding-top: 7px;
	padding-bottom: 7px;
	font-size:15px;
	font-weight: bold;
	color: #FFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none;
	display: block;

}

A.icon-delete:hover{
	background-color: #E8375A;
		width: 50px;
		font-size:15px;
	display: block;
	text-align: center;
	padding-top: 7px;
	padding-bottom: 7px;
	font-weight: bold;
	color: #FFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none;
	
}


.ui-add-explan{
	font-size: 13px;
	padding-left: 10px;
	display:block;
}

.ui-em-add-explan{
	display:block;
	font-size: 13px;
	color: #f20842;
	padding-left: 15px;
}
A.ui-continue {

	background-color: #E11A41;
	
	width: 100px;
	text-decoration: none;
	text-align: center;
	padding-top: 7px;
	padding-bottom: 7px;
	font-weight: bold;
	color: #FFF;
	border-radius: 5px;
	display:block;
}

A.ui-continue:hover{
	background-color: #E8375A;
	
	width: 100px;
	text-decoration: none;
	text-align: center;
	padding-top: 7px;
	padding-bottom: 7px;
	font-weight: bold;
	color: #FFF;
	border-radius: 5px;
	display:block;
	
	
	
	}
	.ui-recipients-tb2{
	display: block;
	margin: auto;
	float:left;
}
	

.ui-banner-explan{
	text-align: center;
	padding-top: 23px;
	font-size: 14px;
}

.ui-em-word .tb-price-title, .ui-em-word  .tb-price-content{
	font-weight: bold;
}



.ui-em-word{
	color: #F20842;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D2D2D2;
	padding-bottom: 10px;
	margin-bottom: 10px;
	font-weight: bold;
}
.tb-price-title{
	width:50%;
	text-align: left;
}

.tb-price-content{text-align: left; 	width:50%;}
table.tb-shopping-list td{
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	vertical-align: middle;
}
table.tb-shopping-list{
	width:100%;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.tb-shopping-list{}
.ui-table-admin td.tb-2-left, .ui-table-admin td.tb-2-right{
	width: 50%;
	text-align: center;
	vertical-align: bottom;
}
.ui-table-admin-pay td.ui-pic-product{
	text-align: center;
}


.ui-table-admin-pay{ width:100%; 	
	border-radius: 5px;}

.ui-table-admin-pay th,
.ui-table-admin-pay td{
	text-align: left;
	
	border: 1px solid #D2D2D2;
	min-height:40px;
	padding-top: 5px;
	padding-right: 8px;
	padding-bottom: 5px;
	padding-left: 8px;
	
	font-family: "微軟正黑體",Arial, Helvetica, sans-serif;
	font-size: 15px;
	vertical-align: middle;
}
.ui-table-admin-pay th{
	background-color: #FFF;
	font-weight: normal;
}
.ui-table-admin-pay td{

	background-color: #FFF;
}




.ui-change{
	display: block;
	font-size: 15px;
	color: #727473;
}
.ui-botton-left{
	float: left;
}

.ui-botton-right{
	float: right;
}

ol.ul-number{

}
.ul-number{ list-style-type:lower-alpha;
	padding-left:50px;
}


.ui-em-content{
	font-size: 15px;
	font-weight: normal;
	font-style: normal;
	line-height: 22px;
}
.page{ min-width:320px;}

	
.tb-title{
	width: 45%;
	text-align: left;
	vertical-align: top;
}


.tb-content{text-align: left;
	width: 55%;	vertical-align: top;
	
}
.tb-spacing{width:0%;}

	
table.line-content td, table.line-content th{
	font-size: 15px;
	font-weight: normal;
}
table.line-content {
	font-size: 15px;width: 100%;
}


.ui-table-admin{ width:100%; 	border: 1px solid #D2D2D2; 	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;}
	
	
	
.ui-table-admin th,
.ui-table-admin td{
text-align: left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #D2D2D2;
	padding: 0.3em 0.5em;
	font-family: "微軟正黑體",Arial, Helvetica, sans-serif;
	font-size: 15px;
	vertical-align: top;
}
.ui-table-admin th{
	background-color: #FFF;
	font-weight: normal;
}
.ui-table-admin td{
	padding:0.3em 0.5em;
	background-color: #FFF;
}

.ui-table-admin tr:nth-child(2n+1) td{
	background:#FFF;
}

.ui-table-admin tr:nth-child(2n+1) td{
	background:#FFF;
}
.ui-table-admin tr:hover td{
	background:#FFF7D6;
}



.input-from2{
	height: 30px;
	width: 120px;
	border: 1px solid #D2D2D2;
	border-radius: 5px;
	font-size: 13px;
	padding-right: 5px;
	padding-left: 5px;
	max-width:200px;
}

.ui-botton-box-banner{
	margin: auto;
	padding-top: 60px;
	width: 220px;
	overflow: hidden;
	padding-right: 30px;
	padding-left: 30px;
}
.ui-botton-box{

	padding-top: 0px;
	padding-bottom: 120px;
	font-family: "微軟正黑體",Arial, Helvetica, sans-serif;
	font-size: 17px;
	overflow: hidden;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #D2D2D2;
}



.ui-confirm{display:block;
	background-color: #3490CF;
	
	width: 100px;
	text-align: center;
	padding-top: 7px;
	padding-bottom: 7px;
	font-weight: bold;
	color: #FFF;
	border-radius: 5px;
	text-decoration: none;display:block;
} 
.tb-add-s th{
	width: 50%;
	vertical-align: top;
}

.tb-add-s td{ width:50%; 	vertical-align: top;}
.recipient-data .tb-add-s th, .recipient-data .tb-add-s td{
	font-size: 14px;
	font-weight: normal;
text-align: left;
}
.recipient-data th{ width:40%;}

.recipient-data td{ width:60%;}
.recipient-data th, .recipient-data td{
	font-size: 14px;
	font-weight: normal;
text-align: left;
}
.recipient-data{
	width: 220px;
	margin: auto;
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 25px;
	padding-left: 15px;
	font-size: 14px;
	text-align: center;
}

.ui-confirm:hover{
	background-color: #55A3D7;
	
	width: 100px;
	text-decoration: none;
	text-align: center;
	padding-top: 7px;
	padding-bottom: 7px;
	font-weight: bold;
	color: #FFF;
	border-radius: 5px;
} 

.ui-cancel{
	background-color: #BCBCBC;
	float: left;
	width: 100px;
		border-radius: 5px;
	text-align: center;
	padding-top: 7px;
		font-weight: bold;
	color: #FFF;
	padding-bottom: 7px;
}

.ui-cancel:hover{
	background-color: #ADADAD;
	float: left;
	width: 100px;
	border-radius: 5px;
	text-align: center;
	padding-top: 7px;
	font-weight: bold;
	color: #FFF;
	padding-bottom: 7px;
}


.ui-line-box{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #D2D2D2;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 15px;
	font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
	font-size: 15px;
	overflow: hidden;
	margin-bottom: 30px;
min-height:20px;
	padding-right: 10px;
}

.ui-solid-box{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #D2D2D2;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 10px;
	font-family: "微軟正黑體",Arial, Helvetica, sans-serif;
	font-size: 15px;
	overflow: hidden;
margin-bottom: 30px;
	background-color: #EFEFEF;
}





.em-line-box{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #F20843;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
	font-size: 15px;
	overflow: hidden;
	margin-bottom: 0px;
	background-color: #F20843;
	font-weight: bold;
	color: #FFF;
	padding-right: 20px;
}

a.ui-content-link{
	text-decoration: underline;
	color: #696969;
	font-size:13px;

}

a.ui-content-link:hover{

		font-size:13px;
	color: #696969;
	text-decoration: none;
}


a.shopping_detail{
	display: block;
	float: right;
	text-decoration: underline;
	color: #696969;
	font-size:13px;
	padding-right:0px;
}

a.shopping_detail:hover{
	display: block;
	float: right;
		font-size:13px;
	color: #696969;
	text-decoration: none;
}

.ui-box{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 50px;
	font-family: "微軟正黑體",Arial, Helvetica, sans-serif;
	font-size: 17px;
	overflow: hidden;
margin-bottom: 0px;
}

.ui-box-table{

	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	font-family: "微軟正黑體",Arial, Helvetica, sans-serif;
	font-size: 17px;
	overflow: hidden;
	margin-bottom: 28px;
}

span.ui-left-content{
	float: left;
	display:block;
}
.ui-title{
	float: left;
	margin-bottom: auto;	
}

.ui-title{
	width: 100px;
}

.ui-content{
	padding-left: 22px; 
	float: left;
}

em.ui-number{
	font-size: 19px;
	color: #F20942;
	font-style: normal;
	font-weight: bold;
}

h2{
	font-family: "微軟正黑體",Arial, Helvetica, sans-serif;
	font-size: 21px;
	color: #595758;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D2D2D2;
	padding-bottom: 20px;
	display: block;
	padding-top: 25px;
}

h3{
	font-family: "微軟正黑體",Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #595758;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D2D2D2;
	padding-bottom: 10px;
	display: block;
	padding-top: 15px;
}
.inner{
	overflow: hidden;
	padding-top: 30px;
	padding-right: 10px;
	padding-left: 10px;
}

h1.logo{
	background-image: url(../../images/shopping/480/logo.gif);
	background-repeat: no-repeat;
	height: 42px;
	width: 138px;
	text-indent: -9999px;
	white-space: nowrap;
	line-height: 0;
	padding-top: 9px;
	display: block;
	position: absolute;
	float: left;
	left: 50%;
	background-position: right bottom;
	margin-left: -69px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.page{
	margin: auto;
	height: auto;
	width: auto;
}
.container_header{
	border-bottom-width: 0px;
	border-bottom-style: none;
}

.header{
	overflow: hidden;
	width: auto;
	margin: auto;
	height:57px;
	position:relative;

}
.main{
	overflow: hidden;
	width: auto;
	margin: auto;
	background-color: #FFF;
	height: auto;
	padding-top: 5px;
	padding-right: 15px;
	padding-bottom: 20px;
	padding-left: 15px;
}

.container_main{
	background-color: #EFEFEF;
}

	.box-width-tb{
	padding-top: 10px;
	padding-bottom: 10px;
}

.container_footer{
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CECECE;
}

.footer{
	overflow: hidden;
	width: auto;
	margin: auto;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #737373;
}
  }